.ok-get-started {
    font-size: 1.2em;
    background-color: #f1e1d8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 30px 120px;
    box-sizing: border-box;
}

.ok-welcome__title {
    margin: 100px 0;
    box-sizing: border-box;
}

.ok-get-started__title-welcome {
    letter-spacing: 1px;
    font-size: .7em;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #aea3a3;
}

.ok-welcome__title-stimulus {
    font-weight: 500;
    color: black;
}

.ok-get-started__title-hello {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 30px;
    color: #5d696e;
}

.ok-get-started__title-description {
    font-size: .9em;
    line-height: 1.4;
    margin-top: 20px;
    margin-bottom: 60px;
    color: #90a4ab;
}

.ok-get-started__button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .8em;
    line-height: 1.5;
    font-weight: 700;
    padding: 0 30px;
    cursor: pointer;
    text-transform: uppercase;
    border: 3px solid black;
    border-radius: 15px;
    background-color: transparent;
}